<!DOCTYPE html>
<html lang="en">

<% include template %>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/ammap.js"></script>
	<script type="text/javascript" src="http://www.amcharts.com/lib/3/maps/js/usaLow.js"></script>
	<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>
<script type="text/javascript">

//add all your code to this method, as this will ensure that page is loaded
AmCharts.ready(function() {
    // create AmMap object
    var map = new AmCharts.AmMap();
    // set path to images
    map.pathToImages = "http://www.amcharts.com/lib/3/images/";

    /* create data provider object
     map property is usually the same as the name of the map file.

     getAreasFromMap indicates that amMap should read all the areas available
     in the map data and treat them as they are included in your data provider.
     in case you don't set it to true, all the areas except listed in data
     provider will be treated as unlisted.
    */
    var dataProvider = {
        map: "usaLow",
        getAreasFromMap:true                    
    }; 
    // pass data provider to the map object
    map.dataProvider = {
    		map: "usaLow",
    		
    		images:[{latitude:37.0000, longitude:120.0000, color:"#CC0000", scale:0.5, label:"New York", labelShiftY:2, zoomLevel:5, title:"New York", description:"Click here"}],
    		areas: [{
    			id: "US-AL",
    			value: <%= rows[0].jobCount%> 
    		}, {
    			id: "US-AK",
    			value: 1
    		}, {
    			id: "US-AZ",
    			value: <%= rows[1].jobCount%>
    		}, {
    			id: "US-AR",
    			value: <%= rows[2].jobCount%>
    		}, {
    			id: "US-CA",
    			value: <%= rows[3].jobCount%>
    		}, {
    			id: "US-CO",
    			value: <%= rows[4].jobCount%>
    		}, {
    			id: "US-CT",
    			value: <%= rows[5].jobCount%>
    		}, {
    			id: "US-DE",
    			value: <%= rows[6].jobCount%>
    		}, {
    			id: "US-FL",
    			value: <%= rows[8].jobCount%>
    		}, {
    			id: "US-GA",
    			value: <%= rows[9].jobCount%>
    		}, {
    			id: "US-HI",
    			value: <%= rows[10].jobCount%>
    		}, {
    			id: "US-ID",
    			value: <%= rows[11].jobCount%>
    		}, {
    			id: "US-IL",
    			value: <%= rows[12].jobCount%>
    		}, {
    			id: "US-IN",
    			value: <%= rows[13].jobCount%>
    		}, {
    			id: "US-IA",
    			value: <%= rows[14].jobCount%>
    		}, {
    			id: "US-KS",
    			value: <%= rows[15].jobCount%>
    		}, {
    			id: "US-KY",
    			value: <%= rows[16].jobCount%>
    		}, {
    			id: "US-LA",
    			value: <%= rows[17].jobCount%>
    		}, {
    			id: "US-ME",
    			value: <%= rows[18].jobCount%>
    		}, {
    			id: "US-MD",
    			value: <%= rows[19].jobCount%>
    		}, {
    			id: "US-MA",
    			value: <%= rows[20].jobCount%>
    		}, {
    			id: "US-MI",
    			value: <%= rows[21].jobCount%>
    		}, {
    			id: "US-MN",
    			value: <%= rows[22].jobCount%>
    		}, {
    			id: "US-MS",
    			value: <%= rows[23].jobCount%>
    		}, {
    			id: "US-MO",
    			value: 1
    		}, {
    			id: "US-MT",
    			value: 1
    		}, {
    			id: "US-NE",
    			value: <%= rows[24].jobCount%>
    		}, {
    			id: "US-NV",
    			value: <%= rows[25].jobCount%>
    		}, {
    			id: "US-NH",
    			value: <%= rows[26].jobCount%>
    		}, {
    			id: "US-NJ",
    			value: <%= rows[27].jobCount%>
    		}, {
    			id: "US-NM",
    			value: <%= rows[28].jobCount%>
    		}, {
    			id: "US-NY",
    			value: <%= rows[29].jobCount%>
    		}, {
    			id: "US-NC",
    			value: <%= rows[30].jobCount%>
    		}, {
    			id: "US-ND",
    			value: 1
    		}, {
    			id: "US-OH",
    			value: <%= rows[31].jobCount%>
    		}, {
    			id: "US-OK",
    			value: <%= rows[32].jobCount%>
    		}, {
    			id: "US-OR",
    			value: <%= rows[33].jobCount%>
    		}, {
    			id: "US-PA",
    			value: <%= rows[34].jobCount%>
    		}, {
    			id: "US-RI",
    			value: <%= rows[35].jobCount%>
    		}, {
    			id: "US-SC",
    			value: <%= rows[36].jobCount%>
    		}, {
    			id: "US-SD",
    			value: <%= rows[37].jobCount%>
    		}, {
    			id: "US-TN",
    			value: <%= rows[38].jobCount%>
    		}, {
    			id: "US-TX",
    			value: <%= rows[39].jobCount%>
    		}, {
    			id: "US-UT",
    			value: <%= rows[40].jobCount%>
    		}, {
    			id: "US-VT",
    			value: <%= rows[41].jobCount%>
    		}, {
    			id: "US-VA",
    			value: <%= rows[42].jobCount%>
    		}, {
    			id: "US-WA",
    			value: <%= rows[43].jobCount%>
    		}, {
    			id: "US-WV",
    			value: 1
    		}, {
    			id: "US-WI",
    			value: <%= rows[44].jobCount%>
    		}, {
    			id: "US-WY",
    			value:<%= rows[45].jobCount%>
    		}]
    	};

    /* create areas settings
     * autoZoom set to true means that the map will zoom-in when clicked on the area
     * selectedColor indicates color of the clicked area.
     */
    map.areasSettings = {
        autoZoom: false,
        selectedColor: "#CC0000"
    };
    
    map.valueLegend = {
		right: 10,
		minValue: "little",
		maxValue: "a lot!"
	}


    // let's say we want a small map to be displayed, so let's create it
   // map.smallMap = new AmCharts.SmallMap();

    // write the map to container div
    map.write("mapdiv");
});
</script>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Main Menu</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Salary Analysis<b class="caret"></b></a>

						<ul class="dropdown-menu">
							<li><a href="/SalaryAnalysis">Software Developer</a></li>
							<li><a href="/SalaryAnalysis">FrontEnd / UI Developer</a></li>
							<li><a href="/SalaryAnalysis">QA &Testing</a></li>
							<li><a href="/SalaryAnalysis">Interns</a></li>

						</ul></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Know your company<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/companyRatingAnalysis">Ratings</a></li>
							<li><a href="/showCompanyReviews">Reviews</a></li>
						</ul></li>
					<li class="dropdown active"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Job Trends<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/getBarChartCali">Full Time vs part Time in
									CA </a></li>
							<li class="active"><a href="/showmaps">State wise job count</a></li>
						</ul></li>

					<li><a href="/contact">Most Trending</a></li>
				</ul>

					<!-- /.navbar-collapse -->
			</div>

		</div>
		<!-- /.container -->
	</nav>


	<!-- Page Content -->
	<div class="container">

		<!-- Features Section -->
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Rating Visualization</h2>
				<p>We integrate information from the best sources to make sure
					that you are equipt with the right tools to get that dream job</p>
			</div>
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-6">
				<div id="mapdiv" style="width:100%; height: 400px;"></div>
			</div>
			<div class="col-md-6">
				 <div class="well">
                    <h4>States</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">California</a>
                                </li>
                                <li><a href="#">Texas</a>
                                </li>
                                <li><a href="#">New York</a>
                                </li>
                                <li><a href="#">Washington</a>
                                </li>
                                 <li><a href="#">Virginia</a>
                                </li>
                            </ul>
                        </div>
                       </div>
                    </div>
			</div>
		</div>
		
		<hr>


		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Your Website 2014</p>
				</div>
			</div>
		</footer>

	</div>
	<!-- /.container -->
</body>


</html>